@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body-color {
  /* background-color: #871400; */
  background-image: url(./img/layered-peaks-haikei.svg);
    background-repeat: no-repeat;
  background-size: cover;
}

form {
  width: 450px;
  min-width: 200px;
  background-color: #F5730A;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6)
}

.pw{
  color:#F5730A
}
.pw-header {
  background-color: #b0311a;
}

.copy-icon {
  width: 1.5rem;
}

#generate{
  color: #b0311a;
}

.btn-copy:focus{
  border: none;
}



